<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Update Gallery
body
  h1 Edit This Gallery
    form(action="/gallery/#{id}?_method=PUT" method="POST")
      p Change author from #{author}?:
      input(type="text" name="author")

      p Change link from #{link}?:
      input(type="text" name="link")
      //-input is self closing tag so can't have anything nested, similar to image
      image(src='#{link}')

      p Change description from #{description}?:
      input(type="text" name="description")
      div.actions
        input(type="submit" value="Edit Gallery")

  h1 Delete This Gallery
    form(action="/gallery/#{id}?_method=DELETE" method="POST")

      p Author: #{author}

      p Link: #{link}
        image(src='#{link}')

      p Description: #{description}
      div.actions
        input(type="submit" value="Delete Gallery")
