<!DOCTYPE html>
html(lang="en")
head
  link(rel="stylesheet" href="/styles/styles.css")
  meta(charset="UTF-8")
  title Gallery
body
  h1 Gallery
  each gallery in galleries

    p Author: #{gallery.author}

    p Id: #{gallery.id}

    p Link: #{gallery.link}
    image(src='#{gallery.link}')

    p Description: #{gallery.description}

